body{
	margin: 0;
}


/* TESTIMONIALS */

	#testi{
		background-color: #f2f2f1;
		width: 100%;
		height: 415px;
		margin-top: 40px;
		margin-bottom: 40px;
	}

	#articlesept{
		width: 1060px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 100px ;
		padding-bottom: 100px;
		font-family: 'Roboto', sans-serif;
		text-align: center;
	}

	#articlesept blockquote{
		font-size: 22px;
		color: #919191;
		font-weight: 400;
		font-style: italic;
	}

	#articlesept p{
		font-weight: 500;
		font-size: 22px;
		color: #566366;
	}

	#fauxbouton-2{
		width: 60px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: space-around;
	}

	#fauxbouton-2 .petitrond{
		display: block;
		width: 12px;
		height: 12px;
		border: 2px solid #2ecc71;
		border-radius: 50%;
		transition: background .5s ease;
	}

	#fauxbouton-2 #select{
		display: block;
		width: 12px;
		height: 12px;
		border: 2px solid #2ecc71;
		border-radius: 50%;
		background-color: #2ecc71;
	}

	#fauxbouton-2 .petitrond:hover{
		display: block;
		width: 12px;
		height: 12px;
		cursor: pointer;
		border: 2px solid #2ecc71;
		border-radius: 50%;
		background-color: #2ecc71;
		transition: background .5s ease;
	}



/* PORTFOLIO */

	#portfolio{
		background-color: white;
		width: 100%;
		margin-top: 40px;
		margin-bottom: 40px;
	}

	#articlehuit{
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 100px ;
		padding-bottom: 100px;
		font-family: 'Roboto', sans-serif;
		text-align: center;
	}

	#articlehuit h3{
		font-size: 28px;
		font-weight: 700;
		color: #566366;
	}

	#articlehuit p{
		font-size: 16px;
		font-weight: 400;
		color: #919191;
	}

	#img-portfolio{
		width: 1180px;
		height: 980px;
		margin-right: auto;
		margin-left: auto;
		margin-top: 60px;
		margin-bottom: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.img {
		width: 366px;
		height: 297px;
		position: relative;
		overflow: hidden;
	}

	#img img{
		width: 100%;
		height: auto;
	}

	.img .cache{
		display: inline-block;
		position: absolute;
		width: 366px;
		height: 297px;
		background-color: rgba(46, 204, 113, 0.8);
		top: 0;
		right: 0;
		opacity: 0;
		transition: opacity .2s ease;
	}

	.img .cache i{
		color: white;
		font-size: 28px;
		line-height: 271px;
	}

	.img:hover .cache{
		opacity: 1;
  		cursor: pointer;
  		transition: opacity .5s ease;

	}
	

/* FOOTER */
	footer{
		width: 100%;
		height: 180px;
		background-color: #191f21;
	}

	footer .container{
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	footer p{
		font-family: 'Roboto', sans-serif; 
		color: #4b5456;
		font-size: 18px;
		font-weight: 500;
		text-align: center;
	}

	#foot-social{
		display: flex;
		width: 260px;
		margin-left: auto;
		margin-right: auto;
		justify-content: space-between;
	}

	.icone-footer{
		background-color: #4b5456;
		border-radius: 50%;
		width: 30px;
		height: 30px;
	}

	.icone-footer i{
		display: inline-block;
		width: 20px;
		height: 20px;
		font-size: 18px;
		color: #191f21;
		text-align: center;
		padding: 6px;
		transition: color .5s ease;
	}

	.icone-footer i:hover{
		display: inline-block;
		width: 20px;
		height: 20px;
		font-size: 18px;
		color: #ffffff;
		cursor: pointer;
		text-align: center;
		padding: 6px;
		transition: color .5s ease;
	}